p {
    font-family: 'BerkshireSwash-Regular';
}

.left-image {
    width: 612px;
    height: 464px;
    margin-left: -100px;
    background: url('./../../assets/images/dog.jpg');
}

.details {
    width: 612px;
    height: 464px;
    border: 1px solid green;
    margin-left: 610px;
    margin-top: -465px;
    font-size: 40px;
    background-color: greenyellow;
}